main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    margin: 0 40px;
}

.title-center {
    font-size: 30px;
    margin: 0 auto;
}

.forms-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}

.forms-wrapper .form {
    margin: 0;
}

.wrapper-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* FORM CONTAINERS */
.form-choose,
.form-add,
.form-delete {
    height: 200px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* UNIFIED INPUT + SELECT STYLE */
.forms-wrapper select,
.forms-wrapper input[type="text"] {
    width: 100%;
    padding: 12px 14px;
    font-size: 16px;
}

.forms-wrapper select:focus,
.forms-wrapper input[type="text"]:focus {
    outline: none;
}

.form-choose select,
.form-delete select {
    margin-bottom: 16px;
}

/* MESSAGES */
.error, .success {
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 12px;
}

.error {
    background-color: #ffe5e5;
    border: 2px solid #ff4d4d;
    color: #b30000;
}

.success {
    background-color: #e6ffe6;
    border: 2px solid #33cc33;
    color: #006600;
}