.title-center{
    font-size: 30px;
    margin-top: 0;
}

.form-select {
    width: 100%;
    padding: 12px 14px;
    border: 2px solid #A7C7E7;
    border-radius: 8px;
    font-size: 16px;
    color: #0d1b4c;
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.form-select:focus {
    outline: none;
    border-color: #8FB4D6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.form-choose {
    height: 200px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-add {
    height: 200px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-delete {
    height: 200px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.error {
    background-color: #ffe5e5;
    border: 2px solid #ff4d4d;
    color: #b30000;
    padding: 4px 8px;
    /*margin-bottom: 10px;*/
    border-radius: 6px;
    font-weight: 600;
    font-size: 12px;
}

.success {
    background-color: #e6ffe6;
    border: 2px solid #33cc33;
    color: #006600;
    padding: 4px 8px;
    /*margin-bottom: 10px;*/
    border-radius: 6px;
    font-weight: 600;
    font-size: 12px;
}