<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="activityDto" type="app.model.entity.dto.activity.ActivityDto"*/-->
<!--/*@thymesVar id="activitySelectDto" type="app.model.entity.dto.activity.ActivitySelectDto"*/-->
<!--/*@thymesVar id="activities" type="java.util.List<app.model.entity.dto.activity.ActivityDto>"*/-->
<!--/*@thymesVar id="category" type="app.model.entity.category.Category"*/-->
<!--/*@thymesVar id="activities" type="java.util.List<app.model.entity.dto.activity.ActivityDto>"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physical Activities</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/category.css">
</head>
<body>
<header>
    <div class="logo-left">
        <a href="/home">
            <img src="/images/logo.png" alt="Logo">
        </a>
    </div>
    <h3 class="title-center">Physical Activities</h3>
</header>
<main>
    <form th:action="@{/activity/select}" th:object="${activitySelectDto}" method="post" class="form form-choose">
        <div class="form-group">
            <label for="activitySelect">Physical Activities</label>
            <select id="activitySelect" th:field="*{id}" class="form-select">
                <option value="" disabled selected>Select activity</option>
                <option th:each="activity : ${activities}"
                        th:text="${activity.name}"
                        th:value="${activity.id}">
                </option>
            </select>
            <div class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">
                <p th:each="error : ${#fields.errors('id')}" th:text="${error}"></p>
            </div>
        </div>

        <input type="hidden" th:field="*{categoryId}" th:value="${category.id}"/>
        <button type="submit" class="profile-actions-button">Choose Activity</button>
    </form>

    <!-- Форма за добавяне на ново activity -->
    <form th:action="@{/activity/add}" method="post" class="form form-add">
        <input type="hidden" name="categoryId" th:value="${category.id}"/>
        <label for="name">Add New Activity</label>
        <input type="text" id="name" name="name" placeholder="Enter activity name"/>
        <button type="submit" class="profile-actions-button">Add Activity</button>
    </form>

</main>

<footer class="footer">© Skill Progress Tracker. All rights reserved.</footer>

</body>
</html>