<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<header>
    <div class="logo-left">
        <a href="/home">
            <img src="/images/logo.png" alt="Logo">
        </a>
    </div>
</header>
<main>
    <div class="container">
        <h2>Choose What You Want To Do Today <span th:text="${firstName}"></span></h2>
        <!-- Лява колона с двата бутона -->
        <form class="form dashboard-form">
            <h3 class="subtitle-dashbord">Dashboard</h3>

            <div class="container-dashboard">
                <a th:href="@{/users/profile}" class="button">
                    <img th:src="@{${user.profilePicture}}" alt="picture" class="icon">Edit Profile</a>

                <a th:href="@{/users/progress}" class="button">
                    <img src="/images/reports.png" alt="reports" class="icon">Progress</a>

                <a href="/users/logout" class="button">
                    <img src="/images/logout.png" alt="logout" class="icon">Logout</a>
            </div>
        </form>
        <!-- Дясна колона – формата -->
        <form class="form">
            <h3 class="subtitle-category">Add Skill Progress</h3>

            <div class="container-activity">
                <a th:href="@{/category/education}" class="button">
                    <img src="/images/education.png" alt="Education" class="icon">Education</a>

                <a th:href="@{/category/physical}" class="button">
                    <img src="/images/physical.png" alt="Physical" class="icon">Physical</a>

                <a th:href="@{/category/professional}" class="button">
                    <img src="/images/professionale.png" alt="Professional" class="icon">Professional</a>

                <a th:href="@{/category/hobby}" class="button">
                    <img src="/images/hobby.png" alt="Hobby" class="icon">Hobby</a>
            </div>
        </form>
    </div>

    <div>
        <a th:if="${user.role.name() == 'ADMIN'}" th:href="@{/admin/users}" class="button menage-users">Manage Users</a>
    </div>
</main>

<footer class="footer">© Skill Progress Tracker. All rights reserved.</footer>
</body>
</html>