<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
<header>
    <div class="logo-right">
        <a href="/">
            <img src="/images/logo.png" alt="Logo">
        </a>
    </div>
    <h1 class="title-center">Skill Progress Tracker</h1>
</header>
<main>
    <h2 class="subtitle">Choose what you want to do today</h2>
    <form class="form home-form">
        <h3>Welcome to Your Dashboard</h3>
        <a href="/profile" class="home-btn">View Profile</a>
        <a href="/skill" class="home-btn">Add Skill Progress</a>
        <a href="/stats" class="home-btn">Your Statistics</a>
    </form>
</main>
<footer class="footer">
    © Skill Progress Tracker. All rights reserved.
</footer>
</body>
</html>