<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<header class="home-header">
    <div class="logo-left">
        <img src="/images/logo.png" alt="Logo">
    </div>
    <h1 class="title-center">Welcome to Skill Progress Tracker</h1>
    <div class="nav-left">
        <a href="/login" class="button">Login</a>
        <a href="/register" class="button">Register</a>
    </div>
</header>
<main>
    <div class="subtitle">
        <p>Your ultimate destination for managing your skills and achievements.</p>
        <p>Track your progress, set goals, and celebrate your achievements.</p>
    </div>
</main>

<footer class="footer">
    © Skill Progress Tracker. All rights reserved.
</footer>
</body>
</html>