<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
</head>
<body>
<header>
    <div class="logo-left">
        <a href="/">
            <img src="/images/logo.png" alt="Logo">
        </a>
    </div>
    <div class="nav-left"></div>
</header>
<main>
    <form class="form" th:action="@{/login}" th:object="${userLoginRequest}"  th:method="post">
        <h3>Login Here</h3>
        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" th:field="*{username}" required>
        <p class="alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" th:field="*{password}" required>
        <p class="alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <button type="submit">Log In</button>
        <p class="alert-warning" th:if="${loginError}" th:text="${loginError}"></p>
        <p class="form-already">Don't have an account? <a href="/register">Register now</a>!</p>
    </form>
</main>
<footer class="footer">
    © Skill Progress Tracker. All rights reserved.
</footer>
</body>
</html>