<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Register</title>
</head>
<body>
<header>
    <div class="logo-right">
        <a href="/">
            <img src="/images/logo.png" alt="Logo">
        </a>
    </div>
    <div class="nav-left"></div>
</header>
<main>
        <form class="form" th:action="@{/register}"th:object="${userRegisterRequest}" th:method="post">
            <h3>Register Here</h3>

            <label for="username">Username</label>
            <input type="text" placeholder="Username" id="username" th:field="*{username}">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" th:field="*{password}">

            <label for="profilePicture">Add Profile Picture</label>
            <input type="file" placeholder="add profile picture" id="profilePicture" name="profilePicture" accept="image/*" th:field="*{profilePicture}">

            <label for="email">Email</label>
            <input type="email" placeholder="Email" id="email" th:field="*{email}" >

            <label for="fullName">Full Name</label>
            <input type="text" placeholder="fullName" id="fullName" th:field="*{fullName}">

            <button>Register</button>

            <p class="form-already">Already have an account? <a href="/login">Login</a>!</p>
        </form>
</main>
<footer class="footer">
    © Skill Progress Tracker. All rights reserved.
</footer>
</body>
</html>