<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
</head>
<body>
<header>
    <div class="logo-left">
        <a href="/">
            <img src="/images/logo.png" alt="Logo">
        </a>
    </div>
</header>
<main>
    <form class="form" th:action="@{/register}" th:object="${userRegisterRequest}" th:method="post"
          enctype="multipart/form-data">
        <h3>Register Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" th:field="*{username}">
        <p class="alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" th:field="*{password}">
        <p class="alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <label for="profilePicture">Add Profile Picture</label>
        <input type="file" placeholder="add profile picture" id="profilePicture" name="profilePicture" accept="images/*"
               th:field="*{profilePicture}">

        <label for="email">Email</label>
        <input type="email" placeholder="Email" id="email" th:field="*{email}">
        <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <label for="firstName">First Name</label>
        <input type="text" placeholder="firstName" id="firstName" th:field="*{firstName}">
        <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

        <label for="lastName">Last Name</label>
        <input type="text" placeholder="lastName" id="lastName" th:field="*{lastName}">
        <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

        <button>Register</button>
        <p class="alert-warning" th:if="${registerError}" th:text="${registerError}"></p>

        <p class="form-already">Already have an account? <a href="/login">Login</a>!</p>
    </form>
</main>
<footer class="footer">© Skill Progress Tracker. All rights reserved.</footer>
</body>
</html>